{% load crispy_forms_tags %}
  <!--Table-->
  {% block content%}
    <div class="container">
    <div class="row my-3">
        <div class="col-md-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            <div class="border bg-white p-3">
                <h4>Book a service</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <input class="btn btn-success btn-block" type="submit" value="Book">

                </form>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Service</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                        {% for booking in bookings %}
                    <tr>
                        <td>{{booking.service}}</td>
                        <td>{{booking.date}}</td>
                        <td>{{booking.time}}</td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

    </div>


    {% endblock %}