{% extends "partials/base.html" %}
{% block title %}Duty page{% endblock %}
  <!--Table-->
  {% load crispy_forms_tags %}
  {% block content%}
  {% include 'partials/topnav.html' %}
   <div class="container">
    <h2 style="text-align:center;color:#6843a3;"><b> LIST OF REVIEWS</b> </h2>
    <div class="row my-2">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-10">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                    <tr>
                        <td>{{ review.type}}</td>
                        <td>{{ review.brief_description}}</td>
                        <td>{{ review.date_time}}</td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}